body {
	background-color: #1e1e1e;
	color: #ffffff;
	font-family: Arial, sans-serif;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
	padding: 5px;
	width: 95%;
	margin-left: 20px;
}

#plotContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#plot {
	border: #808080 1px solid;
}

#guiElementsContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}

#variableInputsContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	gap: 5px;
	border: #808080 1px solid;
	padding: 5px;
}

.variableInput {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	text-align: center;
	border: #808080 1px solid;
	padding: 5px;
}

.variableInput input {
	min-width: 0;
	max-width: 100%;
	box-sizing: border-box;
}

#slidersContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	gap: 5px;
	border: #808080 1px solid;
	padding: 5px;
}

.sliderInput {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	border: #808080 1px solid;
}

.sliderInput input {
	min-width: 0;
	max-width: 100%;
	box-sizing: border-box;
}

#buttonsContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	gap: 5px;
	border: #808080 1px solid;
	padding: 5px;
}

#buttonsContainer button {
	width: 100%;
}

.variableSelect,
input {
	background-color: #1e1e1e;
	color: #ffffff;
	border: 1px solid #007acc;
	padding: 10px;
}

#axisControls {
	/* Use CSS Grid to layout the input boxes */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	gap: 5px;
	padding: 5px;
	border: #808080 1px solid;
}

#axisControls input:nth-child(1),
#axisControls input:nth-child(2) {
	grid-column: span 1; /* Each input occupies one column */
}

#axisControls button:nth-child(3),
#axisControls button:nth-child(4) {
	grid-column: span 1; /* Each input occupies one column */
}

#axisControls button:nth-child(5) {
	grid-column: 1 / -1; /* Span the first input across both columns */
}

#axisControls input {
	min-width: 0;
	max-width: 100%;
	box-sizing: border-box;
}

#traceControls {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px;
	border: #808080 1px solid;
}

.traceLabels {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
}

.colorPicker {
	padding: 0px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

#plotControls {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	gap: 5px;
	padding: 5px;
}

button {
	background-color: #007acc;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 2px;
}

button:hover {
	background-color: #005f99;
}

/* Add horizontal separators after every 4th element in the variableInputsContainer */
.variableInput:nth-child(4n),
.sliderInput:nth-child(4n),
#buttonsContainer button:nth-child(4n) {
	border-bottom: #007acc 3px solid;
	margin-bottom: 14px;
}

.variableInput:nth-child(4n -1),
.sliderInput:nth-child(4n -1),
#buttonsContainer button:nth-child(4n -1) {
	border-bottom: #007acc 3px solid;
	margin-bottom: 14px;
}
