body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	width: 90%;
	height: 100%;
	margin: 0%;
	padding: 5%;
}

.inputsHeading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 5px;
}

.addSubtractButtons {
	width: 30px;
	height: 30px;
	text-align: center;
	align-items: center;
}

.variableInputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 5px;
	padding: 5px;
	border: #808080 1px solid;
	border-radius: 2px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.variableInputs h3 {
	margin: 5px;
}

.variableInput {
	display: flex;
	flex-direction: row;
	gap: 5px;
	justify-content: space-between;
}

.variableInput input {
	flex: 1;
	min-width: 0;
	max-width: 100%;
	box-sizing: border-box;
}

.guiUtility {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 5px;
}

.guiUtility button {
	max-width: 100%;
	flex: 1;
}

#variableInputsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}

#variableInputsButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 5px;
}

#variableInputsButtons button {
	width: 100%;
}

.sliderInputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 5px;
	padding: 5px;
	border: #808080 1px solid;
	border-radius: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sliderInputs h3 {
	margin: 5px;
}

#sliderInputsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}

#sliderInputsButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 5px;
}

#sliderInputsButtons button {
	width: 100%;
}

.sliderInput {
	/* Use CSS Grid to layout the input boxes */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	gap: 5px;
	padding: 5px;
	border: #808080 1px solid;
}

.sliderInput input:nth-child(1) {
	grid-column: 1 / -1; /* Span the first input across both columns */
}

.sliderInput input:nth-child(2),
.sliderInput input:nth-child(3) {
	grid-column: span 1; /* Each input occupies one column */
}

.sliderInput input:nth-child(4),
.sliderInput input:nth-child(5) {
	grid-column: span 1; /* Each input occupies one column */
}

.sliderInput input {
	min-width: 0;
	max-width: 100%;
	box-sizing: border-box;
}

.buttonInputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 5px;
	padding: 5px;
	border: #808080 1px solid;
	border-radius: 2px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.buttonInputs h3 {
	margin: 5px;
}

#buttonInputsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}

#buttonInputsButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 5px;
}

#buttonInputsButtons button {
	width: 100%;
}

.buttonInput {
	/* each div has 4 input text boxes and we want them to display as a 2x2 grid */
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px;
	border: #808080 1px solid;
}

.buttonInput input {
	min-width: 0;
	max-width: 100%;
	box-sizing: border-box;
}

button {
	background-color: #007acc;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 2px;
}
button:hover {
	background-color: #005f99;
}
select {
	background-color: #1e1e1e;
	color: #d4d4d4;
	border: 1px solid #007acc;
	padding: 5px;
}

input {
	background-color: #1e1e1e;
	color: #ffffff;
	border: 1px solid #007acc;
	padding: 6px;
}
